
#card {
    width: 50rem;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(14, 116, 96);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input[type="number"], input[type="text"], input[type="radio"] {
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
}

input[type="radio"] {
    margin-right: 35px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
    padding-top: 2rem;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}
